* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 10px;
}

table {
    width: 100%;
    border-top: none;
    border-bottom: solid 1px #000;
}

th {
    border-top: none;
    border-bottom: none;
}

td {
    width: 16.6%;
    vertical-align: top;
    padding: 10px;
    border-top: none;
    border-bottom: none;
}

td input, select {
    width: 80%;
    font-size: 18px;
    border: solid 1px #000;
    margin: 20px;
    height: 24px;
}

div {
    display: none;
    background-color: #000;
    width: 100%;
    height: 10vh;
    color: #FFF;
}



